<div class="jumbotron">

</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">

          <h1>Sign up</h1>
        </div>
        <div class="panel-body">
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
