<div class="jumbotron">
  <div class="container">
    <% if Category.any? %>
    <ul class="category">
    <% Category.all.each do |cat| %>

        <% if cat.posts.any? %>
          <li class="category-item">
            <%= link_to "+ #{cat.name}", category_path(cat) %>
          </li>
        <% end %>

    <% end %>
    </ul>
    <% end %>
    <h1>Posts</h1>
    <p>Posts for you to read.</p>
    <% if logged_in? %>
      <a href="#" class="btn btn-warning btn-lg above-toggle">Add Post  <i class="fa fa-plus"></i></a>
    <% else %>
      <h4>Log in to add a post.</h4>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if Post.any? %>
      <%= render partial: "posts/posts", collection: @user_posts %>
      <%= render partial: "posts/posts", collection: @posts %>
    <% else %>
    <div class="jumbotron">
      <div class="container">

        <p>No posts to show. Sign in and make a post.</p>
      </div>
    </div>
    <% end %>

  </div>
</div>
