// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  overflow: auto;
}
.above {
  display: none;
  background: rgba(0,0,0, 0.9);
  z-index: 999;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.abover {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.abovest {
  background: rgba(0,0,0, 1);
  z-index: 999;
  position: absolute;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

// These will center the div within the middle of screen
.container-table {

  overflow: hidden;
   height: 100%;
   width: 100%;
   display: table;
}
.vertical-center-row {
  overflow:hidden;
   display: table-cell;
   vertical-align: middle;
}

// end centering


.toggle-reply {

}
.toggle-reply:hover {
  color: #eaeaea;
  cursor: pointer;

}

.reply-toggle {
  display:none;
  border: 1px solid #eaeaea;
  width: auto;
  margin:10px;
  padding: 10px;
}

.panel-footer .form-inline {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding: 0px 0px 10px 0px;
  .form-group {
    padding: 5px;
    width: 100%;
    .form-control {
      width: 100%;
    }
    .btn {
    }
  }
}
.reply-toggle .form-inline {
  border-bottom: 0px;
  padding: 5px;
  .form-group {
    width: 100%;
    .form-control {
      width: 100%;
    }
    .btn {
    }
  }
}

.goo {
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 0px 0px;
  border-top: 1px solid #eaeaea;
}

ul.category {
  padding-left: 0px;
  display: block;
  text-decoration: none;
  list-style: none;
  // border: 1px solid white;
  // border-bottom: 1px solid rgba(255,255,255,.1);
  text-align: left;
  li.category-item {
    margin: 2px 0px;
    padding: 10px 15px;
    text-align: left;
    color: white;
    display: inline-block;
    text-decoration: none;
    // border: 1px solid white;
    // transition-delay: .15s;
    transition-duration: .5s;
  }
  li.category-item:hover {
    background-color: rgba(255,255,255, .5);
    // transition-delay: .15s;
    transition-duration: .5s;
  }
  li.category-item > a {
    color: white;
  }
  li.category-item > a:hover {
    text-decoration: none;
  }
}

.pad {
  margin-top: 2px;
  margin-bottom: 2px;
}

// edit delete button toggle
.del-toggle {
  border: 1px solid #eaeaea;
  padding: 5px;
  border-radius: 5px;
}
.del-toggle:hover {
  background: lightgray;
}
.media-body .toggle {
  padding: 10px;
  border: 1px solid #eaeaea;
  background-color: white;
  border-radius: 5px;
  display:none;
  position: absolute;
  right: 30px;
  top: 45px;
  box-shadow: 1px 1px 5px  #eaeaea;
}
.post-foot {
  border-top: 1px solid #eaeaea;
  display: block;
  margin: 10px 0px;
  padding: 10px 0px;
}

.reply-ul {
  display: block;
  padding-left: 0px;
  li {
    display: inline-block;
  }
}
